/* inport fonts here */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Quicksand&display=swap');

body {
  padding: 0;
  margin: 0;
}

/* -----pre-def flex settings ----- */
.flex{
  display: flex;
}

/* flex direction */
.flexCol {
  flex-direction: column;
}
.flexRow {
  flex-direction: row;
}

/* vertical and horizontal alignment for div content */
.centerVH {
  justify-content: center;
  align-items: center;
}


/* --- full scree divs ---- */

.fullScreen {
  height: 100vh;
  width: 100vw;
}

.fsBackgroundimg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ----- default text colour and font -----*/

:root {
  /* text colours */
  --light-lead-color: #eae8ff;
  --light-text-color: #c8c6d7;
  --dark-lead-color: #2d3142;
  --dark-text-color: #444554;
  /* fonts */
  --main-text-font: 'Open Sans', sans-serif;
  --lead-text-font: 'Quicksand', sans-serif;
}

/* text options */
.uppercase {
  text-transform: uppercase;
}

.downcase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.textRight {
  text-align: right;
}
.textLeft {
  text-align: left;
}

/* ---- transparency ---- */
.transparent {
  background-color: transparent;
}

/* ---- lists ---- */

.listPlain {
  list-style-type: none;
}


/* ---- project specific ------ */

/* nav */
nav {
  position: fixed;
  color: var(--light-lead-color);
  font-family: var(--lead-text-font);
}
nav ul {
  width: 95vw;
  margin: 20px;
}

nav li {
display: inline;
padding: 10px;
}

nav li.textLeft {
  position: absolute;
  left: 10px;
  top: 0;
  text-shadow: 1px 1px white;
  font-family: var(--lead-text-font);
  font-size: 1.5em;

}

/* header */
.header {
  background-image: url("https://images.unsplash.com/photo-1441731630438-264c7fe00bca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");

}

/* header content */
h1 {
  color: var(--light-text-color);
  font-family: var(--lead-text-font);
  font-size: 4em;
  margin: 10px;
}

h1 span {
  color: var(--light-lead-color);
}

p {
  color: var(--light-text-color);
  font-family: var(--main-text-font);
  font-size: 2em;
  margin: 10px;
}

.myPortfolioArrow {
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.myPortfolioArrow p {
  font-size: 1em;
}

#myWork {
  color: var(--light-text-color);
  font-size: 2em;
}



/* buttons */
/* icons from font-awesome */
/* zooming hovers */
/* parallaxes */
/* footer and contacts */
