/* inport fonts here */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Quicksand&display=swap');

body {
  padding: 0;
  margin: 0;
}


/* --- rotation ---- */

.rotateLeft {
  transform: rotate(-10deg); /* Equal to rotateZ(45deg) */
}
/* -----pre-def flex settings ----- */
.flex{
  display: flex;
}

/* flex direction */
.flexCol {
  flex-direction: column;
}
.flexRow {
  flex-direction: row;
}

/* position */

.align-self-end {
  align-self: flex-end;
}

.align-self-start {
  align-self: flex-start;
}

.align-items-end {
  align-items: flex-end;

}

.align-items-start {
  align-items: flex-start;

}
/* vertical and horizontal alignment for div content */
.centerVH {
  justify-content: center;
  align-items: center;
}


/* --- full scree divs ---- */

.fullScreen {
  height: 100vh;
  width: 100vw;
}

.fsBackgroundimg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ----- default text colour and font -----*/

:root {
  /* text colours */
  --light-lead-color: #eae8ff;
  --light-text-color: #c8c6d7;
  --dark-lead-color: #2d3142;
  --dark-text-color: #444554;
  /* fonts */
  --main-text-font: 'Open Sans', sans-serif;
  --lead-text-font: 'Quicksand', sans-serif;
}

/* text options */
.uppercase {
  text-transform: uppercase;
}

.downcase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.textRight {
  text-align: right;
}
.textLeft {
  text-align: left;
}

/* ---- transparency ---- */
.transparent {
  background-color: transparent;
}

/* ---- lists ---- */

.listPlain {
  list-style-type: none;
}


/* ---- project specific ------ */

/* nav */
nav {
  position: fixed;
  color: var(--light-lead-color);
  font-family: var(--lead-text-font);
}
nav ul {
  width: 95vw;
  margin: 20px;
}

nav li {
display: inline;
padding: 10px;
}

nav li.textLeft {
  position: absolute;
  left: 10px;
  top: 0;
  font-family: var(--lead-text-font);
  font-size: 1.5em;

}

/* header */
.header {
  background-image: url("https://images.unsplash.com/photo-1441731630438-264c7fe00bca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");

}

/* header content */
h1 {
  color: var(--light-text-color);
  font-family: var(--lead-text-font);
  font-size: 4em;
  margin: 10px;
}

h1 span {
  color: var(--light-lead-color);
}

p {
  color: var(--light-text-color);
  font-family: var(--main-text-font);
  font-size: 2em;
  margin: 10px;
}

.myPortfolioArrow {
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.myPortfolioArrow p {
  font-size: 1em;
}

#myWork {
  color: var(--light-lead-color);
  font-size: 2em;
}

.portfolio {
  color: var(--dark-text-color);
  background-color: var(--light-text-color);
  font-size: 0.5em;
  padding-top: 150px;
  padding-bottom: 150px;
  height: 100vh;
  flex-wrap: wrap;
}

.websitePreview {
  height: 100%;
  width: auto;
  -webkit-box-shadow: 1px 4px 15px 4px rgba(109,109,109,0.82);
  box-shadow: 1px 4px 15px 4px rgba(109,109,109,0.82);
}

.fadeIn {
  opacity:0;
  height: 35vh;
  width:auto;
  /* background-color: #262626; */
  margin: 20px;
  padding: 50px;
  justify-content: space-between;
}


.fadeIn:nth-child(even) {
  align-self: flex-end;
  transform: rotate(-10deg); /* Equal to rotateZ(45deg) */
}

.fadeIn:nth-child(odd) {
  align-self: flex-start;
  transform: rotate(-10deg); /* Equal to rotateZ(45deg) */

}

.fadeIn p {
  color: var(--dark-text-color);



}




/* buttons */
/* icons from font-awesome */
/* zooming hovers */
/* parallaxes */
/* footer and contacts */
